p Cher Administrateur,
p Un nouvel utilisateur vient de s'inscire: 
p <strong>#{newUser.name} </strong>
p <strong>#{newUser.email} </strong>
p <strong>#{newUser.classe} </strong>
span=username 
p Vous devez le valider en allant <a href=#{usersUrl}> sur la page des utilisateurs </a>
